*{
  cursor: url('../src/cursor.png'), auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  image-rendering: pixelated;
}

body{
  background-color: #1f1716;
  background-image: url(../src/bgs/dirt.png);
  font-family: "Cousine", monospace;
  color: #eeeeee;
}
main{
  display: flex;
  flex-direction: row;
  padding: 25px
}

.docslink{
  text-decoration: none;
  cursor: url('../src/cursorOnore.png'), pointer;
  padding: 7px 7px 4px;
  border-radius: 3px;
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: hsl(240, 100%, 80%, 0.2);
  color: hsl(240, 25%, 75%);
}

.right-wrapper{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ore-section{
  padding: 5px;
  border: 2px solid #4d4d4d57;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  & h1{
    max-width: 200px;
    font-size: 24px;
    margin: 10px 5px;
  }

  .ore-container > .border-wrapper{
    display: inline-block;
    background-color: hsl(0, 0%, 0%, 0.2);
    border: 3px solid black;
    & img{
      cursor: url('../src/cursorOnore.png'), pointer;
      width: 250px;
      -webkit-tap-highlight-color: transparent;
      &.break {
          animation: break 0.4s;}
      &.break2 {
          animation: break2 0.4s;}
    }
  }
  .progress-section{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
  }

  .skip-button{
    cursor: url('../src/cursorOnore.png'), pointer;
    padding: 6px 18px;
    color: white;
    background-color: #1b1b1b;
    border: 1px solid #790000;
    box-shadow: inset 0px 0px 6px #772525;

    &.Skippable{
      box-shadow: inset 0px 0px 10px #6ca06a;
      border: 1px solid #589948;
    }
  }
}


.droplist-section{
  border: 2px solid #4d4d4d;
  background-color: #1a1515;
  box-shadow: inset 0px 30px 50px #141414;
  background-image: url(../src/bgs/iron-grip.png);
  padding: 15px;
  border-radius: 3px;
  max-height: 250px;
  width: 300px;
  height: 100%;

  .drop-list{
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 5px;
    margin-top: 10px;
    
    background-color: #0000006c;

    .drop-item{
      display: flex;
      flex-direction: row;
      & img{
        margin-right: 10px;
        width: 40px;
        height: 40px;
        background-color: hsla(0, 0%, 100%, 0.3);
      }
      & p{
        line-height: 1.5em;
        font-size: 18px;
      }
    }

    

    &::-webkit-scrollbar {
      width: 16px;
      height: 8px; }
    &::-webkit-scrollbar-track {
      background: #181818;}
    &::-webkit-scrollbar-thumb {
      background: #525252;
      border-radius: 2px;}
    &::-webkit-scrollbar-thumb:hover {
      background: #423939;}
  }
}


#pickaxelabelParent{
  cursor: url('../src/cursorOnore.png'), pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #2b2b2b;
  border: 2px solid #4d4d4d;
  border-radius: 2px;
  box-shadow: inset 0 0 5px #000000;

  &::after {
    
    z-index: 3;
    content: "\e80a"; 
    font-family: 'fontello'; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(163, 0, 14, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    border-radius: 5px;
    color: hsl(0, 100%, 32%);
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
  }
  &:hover::after {
    opacity: 1;
  }

  & i{
    margin-top: 6px;
    margin-left: 3px;
    position: absolute;
    z-index: 0;
    display: block;
    color:#4b4b4b;
    font-size: 22px;
  }

  & *{
    cursor: url('../src/cursorOnore.png'), pointer;
  }

  #pickaxelabel{
    width: 100%; height: 100%;
    z-index: 1;
    transition: all 0.1s ease-in;
    & img{
      width: 100%; height: 100%;
    }

    &.noPickaxe{
      border: 2px solid #b4b4b4;
    }
  }
}


@keyframes break {
  from {
    scale: 1;
    transform: rotate(20deg);
  }
  50% {
    scale: 1.15;
  }
  100% {
    scale: 1;
  }
}

@keyframes break2 {
  from {
    scale: 1;
    transform: rotate(-20deg);
  }
  50% {
    scale: 1.15;
  }
  100% {
    scale: 1;
  }
}


progress#stoneProgress {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background-color: #2b2b2b; 
  border: 2px solid #4d4d4d;
  border-radius: 2px;
  box-shadow: inset 0 0 5px #000000;
}

progress#stoneProgress::-webkit-progress-bar {
  background-color: #2b2b2b;
  border-radius: 4px;
  box-shadow: inset 0 0 5px #000000;
}

progress#stoneProgress::-webkit-progress-value{
  background: linear-gradient(
    90deg,
    #710080,
    #8c0199,
    #ae07bd
  );
  border-radius: 4px;
  box-shadow: inset 0 0 3px #000, 0 0 5px #ff00dd;
}



#fullscreen-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 8px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background: hsl(0, 0%, 0%, 0.3);
  border: 1px dashed hsl(0, 0%, 100%, 0.5);
  color: #ffffff;
  z-index: 9999;
}